@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Paytone+One&display=swap");

html, #root, body, .App{
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Fuentes/Poppins-Medium.ttf') format('truetype');
  font-display: swap;
}

:root{
  --AmarilloEspecial:  #FCB71C;
  --RojoNegativo:  #cd1414;
}
